<h1>Administrador de Eventos</h1>

<div class="control-section">
    <div class="input-group">
        <label>Tipo de Evento:</label>
        <select [(ngModel)]="eventTypeId" (change)="onFilterChange()">
            <option *ngFor="let type of eventTypes" [value]="type.id">{{ type.name }}</option>
        </select>
    </div>
    <div class="input-group">
        <label>Fecha Inicial:</label>
        <input type="date" [(ngModel)]="startDate" (change)="onFilterChange()">
    </div>
    <div class="input-group">
        <label>Fecha Final:</label>
        <input type="date" [(ngModel)]="endDate" (change)="onFilterChange()">
    </div>
    <div class="button-group">
        <button (click)="loadEvents()">Buscar Eventos</button>
    </div>
</div>

<div class="table-container">
    <h2>Registro de Eventos</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Tipo de Evento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of eventLogs">
                <td>{{ formatDate(event.date) }}</td>
                <td>
                    <input style="border: none; width: 100%; outline: none; background: transparent;"
                           [(ngModel)]="event.description" />
                </td>
                <td>
                    <select [(ngModel)]="event.eventTypeId">
                        <option *ngFor="let type of eventTypes" [value]="type.id">{{type.name}}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="add-row-btn" (click)="addNewRow()">Añadir fila</button>
    <button (click)="addNewEvent()">Registrar Eventos</button>
</div>